
.c-timer
  display: flex
  justify-content: center
  align-items: center

  .c-timer__hours, .c-timer__minutes, .c-timer__seconds
    font-size: 8em
    font-family: 'Orbitron', sans-serif

.c-card__btn
  display: flex
  justify-content: space-between
  gap: 10px
